<script src="https://unpkg.com/vue"></script>
<script src="https://unpkg.com/axios@0.12.0/dist/axios.min.js"></script>
<script src="https://unpkg.com/lodash@4.13.1/lodash.min.js"></script>
<div id="app">
   <h1>{{ title | capitalize}} </h1>
   <h2>computed reverse "{{ reverse }}"</h2>
  <span v-bind:title="message">
    Hover your mouse for a while
  </span>
  <p v-if="seen">Now you see me</p>
  <ol>
    <li v-for="todo in todos">
      {{ todo.text }}
    </li>
  </ol>
  <button @click="reverseTitle">Reverse Title</button>
  <p> {{ user_input }}</p>
  <input v-model="user_input">
  
  <ol>
    <todo-item
      v-for="(item,index) in basket"
      :todo="item"
      :index="index"
      :key="item.id">
    </todo-item>
  </ol>

  <p>{{ fullname }}</p>

  <p>
    Ask a y/n question:
    <input v-model="q">
  </p>
  <p>
    {{ a }}
  </p>

  <div v-if="Math.random() > 0.5">
    <div v-bind:style="styleObject0">
      <p> this should show RED color</p>
    </div>
  </div>
  <div v-else>
    <div v-bind:style="styleObject1">
      <p> this should show RED color</p>
    </div>
  </div>

  <div v-bind:style="Math.random() > 0.5?styleObject0 : styleObject1 ">
    <p> another way to show RED and purpler</p>
  </div>

  <template v-if="loginType === 'username'">
    <label>Username</label>
    <input placeholder="Enter your username" key="username-input">
  </template>
  <template v-else>
    <label>Email</label>
    <input placeholder="Enter your email address" key="email-input">
  </template>
  <button @click="toggleLogin">Toggle Login Type</button>

  <ul>
    <li v-for="(item, index) of todos">
      {{ index }} - {{ item.text }}
    </li>
  </ul>

  <div v-for="(v,k) in bookObject">
    <p>{{ k }} -- {{ v }} </p>
  </div>

  <div id="get-it-done-list">
    <input
      v-model="newItem"
      v-on:keyup.enter="addNewItem"
      placeholder="Add a new item"
    >
    <ul>
      <li
        is="get-it-done"
        v-for="(item,index) in items"
        v-bind:key="item"
        v-bind:title="item"
        v-on:remove="item.splice(index,1)"
      ></li>
    </ul>
  </div>

  <button @click="counter += 1">Add 1</button>
  <p> the button has been clicked {{ counter }} times </p>

  <li v-for="i of even">{{ i }}</li>

  <p>
    <button @click.once="greet('liangjun')">Greet</button>
  </p>

  <input v-model="content" placeholder="enter something">
  <p>your content is : {{ content }} </p>
  
  <span> multiline message is : </span>
  <p style="white-space: pre"> {{ essay }} </p>
  <textarea v-model="essay" placeholder="add multiple lines"></textarea>


</div>

<script>
  Vue.component('todo-item', {
    props: ['todo'],
    template: '<li>{{ todo.text }}</li>'
  })

  Vue.component('get-it-done', {
    props:['title'],
    template: `
      <li>
         {{ title }}
         <button @click="$emit('remove')">X</button>
      </li>
    `
  })

  var vm = new Vue({
    el: '#app',
    data: {
      title: 'vue.js is great!',
      message: 'You loaded this page on ' + new Date(),
      user_input: 'enter anything...',
      seen: true,
      counter: 0,
      todos: [
        {text: 'Learn Javascript' },
        {text: 'Learn Vue' },
        {text: 'Build webpage easier' }
      ],
      basket: [
        {id: 0, text: 'egg'},
        {id: 0, text: 'juice'},
        {id: 0, text: 'potato'}
      ],
      first_name: 'John',
      last_name: 'Doe',
      q: '',
      a: 'I am waiting until you ask a question',
      styleObject0: {
        color: 'red',
        fontSize: '13px'
      },
      styleObject1: {
        color: 'purple',
        fontSize: '20px'
      },
      loginType: 'username',
      bookObject: {
        title: 'from 0 to 1',
        author: 'Elon Musk',
        publisher: 'Unknown publisher'
      },
      newItem: '',
      items: ['Play golf','Finish exams','Make some money'],
      numbers: [1, 3, 5, 8, 9, 10, 11, 13, 15, 14, 2, 6],
      appName: 'vue-demo',
      content: '',
      essay: ''
    },
    methods: {
      reverseTitle: function () {
        this.title = this.title.split('').reverse().join('')
      },
      getA: _.debounce(
        function() {
          if (this.q.indexOf('?') === -1) {
            this.a = 'Questions usually contact a question mark.'
            return
          }
          this.a = 'Thinking...'
          var vm = this
          axios.get('https://yesno.wtf/api')
            .then(function (response) {
              vm.a = _.capitalize(response.data.answer)
            })
            .catch(function (error) {
              vm.a = 'Error! couldn\'t reach this api!'
            })
        },
      500),
      toggleLogin:function () {
        this.loginType = (this.loginType === 'username')?'email':'username'
      },
      addNewItem: function() {
        this.items.push(this.newItem)
        this.newItem = ''
      },
      greet:function (name, event) {
        alert("hello " + name + '!')
        if (event)
          alert(event.target.tagName)
      }
    },
    created: function () {
      console.log('title is ' + this.title)
    },
    filters: {
      capitalize: function (value) {
        if (!value) return ''
        value = value.toString()
        return value.charAt(0).toUpperCase() + value.slice(1)
      }
    },
    computed: {
      reverse: function () {
        return this.title.split('').reverse().join('')
      },
      fullname: {
        get: function () {
          return this.first_name + ' ' + this.last_name 
        },
        set: function (name) {
          var n = name.split(' ')
          this.first_name = n[0]
          this.last_name = n[n.length - 1]
        }
      },
      even:function (){
        return this.numbers.filter(function(n){
          return n % 2 !== 0
        })
      }
    },
    watch: {
      q: function(nQ){
        this.a = 'I am waiting...'
        this.getA()
      }
    }
  })
</script>